---
import FlavorsIsland from "@/components/islands/FlavorsIsland";
import type { SiteCopy } from "@/data/site";

type Props = {
  copy: SiteCopy["flavors"];
};

const { copy } = Astro.props;
---

<section class="scene scene--light flavors" id="gc-sabores">
  <div class="gc-container">
    <FlavorsIsland copy={copy} client:visible />
  </div>
</section>
